
html {
    width: 100vw;
    height: 100vh;
    padding: 25px;
    margin: 0px;
    overflow-x: hidden;
}

body {
    background-color: lightgoldenrodyellow;
    font-family: Helvetica, Arial, sans-serif;
}

a, a:focus, a:hover {
    text-decoration: none;
}

#main_title {
    text-align: center;
    color: inherit
}

.diagram-1 {
    text-align: center;
    border: 3px solid black;
    background-color: grey;
}

.cgram-diagram1 {
    width: 1366px;
    height: 400px;
}

.diagram-2 {
    text-align: center;
}

.diagram-2 svg g{
    cursor: pointer;
}

.cgram-diagram2 {
    width: 1366px;
    height: 50px;
}

.diagram-3 {
    text-align: center;
    border: 3px solid black;
    position: relative;
    left: 50%;
    margin-left: -250px;
    width: 500px;
}

.diagram-3 svg g{
    cursor: pointer;
}

.cgram-diagram3 {
    width: 1366px;
    height: 200px;
}

p {
    margin: 0;
    padding: 4px;
}

button {
    margin-bottom: 30px;
    border: none;
}

.remove_button {
    margin-left: 25px;
    margin-right: 135px;
}

.connect_button {
    margin-right: 30px;
}

.colors_button {
    margin-left: 280px;
}

.hide_button {
    margin-left: 200px;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

#picture {
    height: 200px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid pink
}

.game_buttons {
    text-align: center;
}

.game_buttons h4 {
    display: inline;
    position: relative;
    left: 10px;
    bottom: 10px;
}