body {
    background-color: lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main_title {
    text-align: center;
}

.diagram-1 {
    text-align: center;
}

.cgram-diagram1 {
    width: 1000px;
    height: 550px;
}

.cgram-diagram2 {
    width: 1366px;
    height: 200px;
}

p {
    margin: 0;
    padding: 4px;
}

button {
    margin-bottom: 30px;
}

.remove_button {
    margin-left: 25px;
    margin-right: 135px;
}

.connect_button {
    margin-right: 30px;
}

.colors_button {
    margin-left: 280px;
}

.hide_button {
    margin-left: 200px;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }